<div class = "container">

<h1>Your Profile</h1>
<p>Please update your information in the table below and click submit. </p>
	<fieldset>
		<table class="table table-striped">
			<tr>
				<th>Name</th>
				<th>Date of Birth</th>
				<th>Phone Number</th>

		<tbody>
			<%= form_for @user do |f| %>
			<tr>
				<td><f.label :name %>
					<%= f.text_field :user_name, placeholder: "Name" %> </td>
				<td><f.label :birthday %>
					<%= f.date_field :user_birthday %> </td>
				<td><f.label :phone %>
					<%= f.text_field :user_phone, placeholder: "+12345678" %></td>
				<%= f.submit "Submit" %>
					<% end %>
			</tr>
		</tbody>
</div>