<div class = "container">
<h2>Hello <%= current_user.user_name %></h2>
<h3> Your Profile </h3>

<!-- <p>Name: <%= current_user.user_name %></p>
<p>Birthday: <%= current_user.user_birthday %> </p>
<p>Phone Number: <%= current_user.user_phone %></p>
 -->
<table class="table table-striped">
	<thead>
	<tr>
		<th>Name</th>
		<th>Date of Birth</th>
		<th>Phone Number</th>

<tbody>
	<tr>
		<td><%= current_user.user_name %></td>
		<td><%= current_user.user_birthday %></td>
		<td><%= current_user.user_phone %></td>
	</tr>
</tbody>

</table>


<p>Did you change your phone number or go back in time and change your date of birth? Let us know: </p>
<a class="btn btn-medium btn-success" href="/users/:id/edit">Edit Profile</a>





</div>