<!DOCTYPE html>
<html>
<head>
  <title>Amigo2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render "/shared/nav" %>


<%= yield %>

<div align = "left"> 
	<%= link_to 'Home', root_path %> | 
	<%= link_to 'See My Friends and Family', friends_path %> | 
	<%= link_to 'Add a Friend', new_friend_path %>
</div>
</body>
</html>
